
<h3>
    <span id="version_display_welcome"></span>  <span>Mod By Loc</span>
</h3>
<a href="https://www.facebook.com/groups/3447099565525265" target="_blank" data-i18n="Want to update?">
    👉👉👉 Tham Gia Group SillyTavern Để Cập Nhật Thông Tin Mới Nhất 👈👈👈
</a>

<hr>
<h3>Bạn Cần Proxy Key / API Key?</h3>
<ul>
    <li><span>Mình có Proxy OpenAI và Claude, sử dụng SillyTavern, Chub Venus, Janitor,... đều được</span></li>
    <li><span>Proxy Key siêu mượt và không bị khóa hay bonk dùng thoải mái</span></li>
</ul>
<hr>
<h3>Tham Gia Group trao đổi tạo char hướng dẫn,...</h3>
<a href="https://www.facebook.com/groups/695852892599428">Group: SillyTavern Việt Nam</a>
<hr>
<a href="https://www.facebook.com/groups/773778207922408/">Group: AI Việt Nam</a>

