
<h3>
    <span id="version_display_welcome">SillyTavern</span>
    <div id="version_display_welcome"></div>
    <h2>Silly Tavern web</h2>
    <ul>
        <li><span>Silly Tavern này được phát triển từ Silly Tavern bản 1.11.2</span> </li>
        <li><span>Mọi hướng dẫn về Silly Tavern mình sẽ cập nhật tại link dưới</span> </li>
    </ul>
<a href="https://locmaymo.blogspot.com/2024/01/huong-dan-silly-tavern-va-cac-cau-hoi.html" target="_blank">Hướng dẫn và các câu hỏi thường gặp</a>
</h3>

<hr>
<h3>Bạn Cần Proxy Key / API Key?</h3>
<ul>
    <li><span>Mình có Proxy OpenAI và Claude, sử dụng SillyTavern, Chub Venus, Janitor,... đều được</span></li>
    <li><span>Proxy Key siêu mượt và không bị khóa hay bonk dùng thoải mái</span></li>
</ul>
<a href="https://locmaymo.blogspot.com/2023/09/free-api-key-openai.html" target=" _blank">
    Thông tin lấy proxy tại đây
</a>
<hr>
<h3>Tham Gia Group trao đổi tạo char hướng dẫn,...</h3>
<a href="https://www.facebook.com/groups/695852892599428">Group: SillyTavern Việt Nam</a>
<hr>
<a href="https://www.facebook.com/groups/773778207922408/">Group: AI Việt Nam</a>

